* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.admin-body-bg {
  background-color: #f8fdff;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h2 {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}
p {
  color: #736464;
}
header {
  border-top: solid 3px orange;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
#editorjs {
  background-color: #fff;
  width: 100%;
  border: solid 1px #ccc;
  .ce-block__content,
  .ce-toolbar__content {
    width: calc(100% - 70px);
    max-width: none;
  }
  .codex-editor__redactor {
    padding-bottom: 0 !important;
  }
}
// Custom classes
.box-bottom-line {
  position: relative;
  color: #a2e4b1;
  &:after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: currentColor;
    right: 5px;
    display: block;
    position: absolute;
    top: 100%;
    transform: skewX(-40deg);
  }
}
.bg-white {
  background-color: #fff;
}
.fa {
  margin-right: 8px;
}
.page-title {
  h1 {
    font-size: 1.2rem;
    color: inherit;
  }
}
.inner-page {
  .page-title {
    margin-bottom: 1rem;
    border-left: solid 3px orange;
    padding: 1rem 1.5rem;
    background-color: #4d545a;
    color: #fff;
    font-weight: 400;
  }
  .page-details {
    padding: 1.5rem;
    background-color: #fff;

    h3 {
      font-size: 1.4rem;
      margin-top: 2rem;
      font-style: italic;
    }
  }
}

.custom-box-shadow {
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.33);
}
.overlay {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
}
.navbar-brand {
  span {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
  }
}
.dropdown {
  &-menu {
    border-bottom: solid 3px orange;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.6);
  }
  &-item {
    &:focus,
    &:hover {
      background-color: #434a50;
    }
  }
}

// News and events common css
.news-and-events {
  .block-title {
    border-bottom: solid 1px #eee;
    h2 {
      font-size: 1.4rem;
      span {
        font-weight: inherit;
      }
    }
  }
  ul {
    margin-bottom: 0;
  }
  li {
    border-bottom: solid 1px #eee;
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0 !important;
    }
  }
  .title {
    font-size: 1.1rem;
    position: relative;
    i {
      position: absolute;
      left: 0;
    }
  }
  .details {
    font-size: 1rem;
    color: #828282;
    border-left: dashed 1px #eee;
  }
  .action-wrapper {
    border-radius: 50px;
    padding: 2px 7px 2px 15px;
    text-align: center;
  }
}

.hero-banner,
.inner-hero-banner {
  overflow: hidden;
  .banner-details {
    bottom: 40px;
    right: 60px;
    z-index: 1;
    position: absolute;
    &.center-details-pos {
      bottom: auto;
      right: auto;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    .title {
      font-size: 2rem;
      font-weight: 300;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 40px;
      span {
        font-size: 3rem;
      }
      &:after,
      &:before {
        content: '';
        position: absolute;
      }
      &:before {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #202327;
        transform: skewX(20deg);
        z-index: -1;
      }
      &:after {
        border-bottom: solid 3px orange;
        height: 0;
        z-index: 1;
        width: 50%;
        bottom: -3px;
        right: -15px;
      }
    }
    .small-desc {
      margin-bottom: 10px;
      p {
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
      }
    }
  }
}

.featured-wrapper {
  .featured {
    li {
      margin-right: 10px;
      padding: 10px;
      background-color: #fff;
      border: solid 1px #eee;
      width: 25%;
      box-shadow: 0 0 0 0 rgba(90, 113, 208, 0),
        0 4px 16px 0 rgba(167, 175, 183, 0);
      transition: box-shadow ease 0.2s;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11),
          0 4px 16px 0 rgba(167, 175, 183, 0.33);
        .overlay {
          transform: scale(1);
        }
        .details {
          &::before {
            transform: translateX(0);
          }
          h3 {
            transform: translateY(0);
            text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
          }
          p {
            span {
              transform: translateY(0);
            }
          }
        }
      }
      .overlay {
        transform: scale(0);
        transition: transform ease 0.2s;
      }
      a {
        position: relative;
        display: block;
        text-decoration: none;
      }
      .details {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #000;
        transform: translateY(-50%);
        padding: 10px 15px;
        z-index: 1;
        overflow: hidden;
        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background: orange;
          left: 0;
          top: 0;
          transform: translateX(-100%);
          transition: transform ease 0.4s;
        }
        h3,
        p {
          white-space: nowrap;
          text-align: center;
          margin-bottom: 0;
          color: #fff;
          position: relative;
          z-index: 1;
        }
        h3 {
          font-size: 1.4rem;
          transform: translateY(45%);
          transition: transform ease 0.6s 0.1s;
        }
        p {
          font-style: italic;
          overflow: hidden;
          span {
            transform: translateY(100%);
            display: block;
            transition: transform ease 0.4s;
          }
        }
      }
    }
  }
}

.web-status-wrapper {
  display: flex;
  justify-content: space-between;
  .web-status {
    background-color: #fff;
    width: 100%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  i {
    font-size: 2rem;
    font-weight: 300;
  }
  .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon,
  .count {
    color: inherit;
  }
  .count {
    font-size: 2rem;
  }
}
