* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.admin-body-bg {
  background-color: #f8fdff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}

p {
  color: #736464;
}

header {
  border-top: solid 3px orange;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

#editorjs {
  background-color: #fff;
  width: 100%;
  border: solid 1px #ccc;
}

#editorjs .ce-block__content,
#editorjs .ce-toolbar__content {
  width: calc(100% - 70px);
  max-width: none;
}

.box-bottom-line {
  position: relative;
  color: #a2e4b1;
}

.box-bottom-line:after {
  content: '';
  width: 50%;
  height: 5px;
  background-color: currentColor;
  right: 5px;
  display: block;
  position: absolute;
  top: 100%;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

.bg-white {
  background-color: #fff;
}

.fa {
  margin-right: 8px;
}

.page-title h1 {
  font-size: 1.2rem;
  color: inherit;
}

.inner-page h2 {
  margin-bottom: 1rem;
  border-left: solid 3px orange;
  padding: 1rem 1.5rem;
  background-color: #4d545a;
  color: #fff;
  font-weight: 400;
}

.inner-page .page-details {
  padding: 1.5rem;
  background-color: #fff;
}

.inner-page .page-details h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-style: italic;
}

.custom-box-shadow {
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
          box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.overlay {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
}

.navbar-brand span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
  border-bottom: solid 3px orange;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.6);
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #434a50;
}

.news-and-events .block-title {
  border-bottom: solid 1px #eee;
}

.news-and-events .block-title h2 {
  font-size: 1.4rem;
}

.news-and-events .block-title h2 span {
  font-weight: inherit;
}

.news-and-events ul {
  margin-bottom: 0;
}

.news-and-events li {
  border-bottom: solid 1px #eee;
}

.news-and-events li:last-child {
  border-bottom: 0;
  margin-bottom: 0 !important;
}

.news-and-events .title {
  font-size: 1.1rem;
}

.news-and-events .details {
  font-size: 1rem;
  color: #828282;
  border-left: dashed 1px #eee;
}

.news-and-events .action-wrapper {
  border-radius: 50px;
  padding: 2px 7px 2px 15px;
  text-align: center;
}

.hero-banner,
.inner-hero-banner {
  overflow: hidden;
}

.hero-banner .banner-details,
.inner-hero-banner .banner-details {
  bottom: 40px;
  right: 60px;
  z-index: 1;
  position: absolute;
}

.hero-banner .banner-details.center-details-pos,
.inner-hero-banner .banner-details.center-details-pos {
  bottom: auto;
  right: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-banner .banner-details .title,
.inner-hero-banner .banner-details .title {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
}

.hero-banner .banner-details .title span,
.inner-hero-banner .banner-details .title span {
  font-size: 3rem;
}

.hero-banner .banner-details .title:after, .hero-banner .banner-details .title:before,
.inner-hero-banner .banner-details .title:after,
.inner-hero-banner .banner-details .title:before {
  content: '';
  position: absolute;
}

.hero-banner .banner-details .title:before,
.inner-hero-banner .banner-details .title:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #202327;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  z-index: -1;
}

.hero-banner .banner-details .title:after,
.inner-hero-banner .banner-details .title:after {
  border-bottom: solid 3px orange;
  height: 0;
  z-index: 1;
  width: 50%;
  bottom: -3px;
  right: -15px;
}

.hero-banner .banner-details .small-desc,
.inner-hero-banner .banner-details .small-desc {
  margin-bottom: 10px;
}

.hero-banner .banner-details .small-desc p,
.inner-hero-banner .banner-details .small-desc p {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.featured-wrapper .featured li {
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #eee;
  width: 25%;
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0), 0 4px 16px 0 rgba(167, 175, 183, 0);
          box-shadow: 0 0 0 0 rgba(90, 113, 208, 0), 0 4px 16px 0 rgba(167, 175, 183, 0);
  -webkit-transition: -webkit-box-shadow ease 0.2s;
  transition: -webkit-box-shadow ease 0.2s;
  transition: box-shadow ease 0.2s;
  transition: box-shadow ease 0.2s, -webkit-box-shadow ease 0.2s;
}

.featured-wrapper .featured li:first-child {
  margin-left: 0;
}

.featured-wrapper .featured li:last-child {
  margin-right: 0;
}

.featured-wrapper .featured li:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
          box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.featured-wrapper .featured li:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured-wrapper .featured li:hover .details::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.featured-wrapper .featured li:hover .details h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.featured-wrapper .featured li:hover .details p span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.featured-wrapper .featured li .overlay {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

.featured-wrapper .featured li a {
  position: relative;
  display: block;
  text-decoration: none;
}

.featured-wrapper .featured li .details {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background-color: #000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 15px;
  z-index: 1;
  overflow: hidden;
}

.featured-wrapper .featured li .details:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: orange;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.featured-wrapper .featured li .details h3,
.featured-wrapper .featured li .details p {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  position: relative;
  z-index: 1;
}

.featured-wrapper .featured li .details h3 {
  font-size: 1.4rem;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  -webkit-transition: -webkit-transform ease 0.6s 0.1s;
  transition: -webkit-transform ease 0.6s 0.1s;
  transition: transform ease 0.6s 0.1s;
  transition: transform ease 0.6s 0.1s, -webkit-transform ease 0.6s 0.1s;
}

.featured-wrapper .featured li .details p {
  font-style: italic;
  overflow: hidden;
}

.featured-wrapper .featured li .details p span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: block;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.web-status-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web-status-wrapper .web-status {
  background-color: #fff;
  width: 100%;
  margin-right: 20px;
}

.web-status-wrapper .web-status:last-child {
  margin-right: 0;
}

.web-status-wrapper .title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.web-status-wrapper i {
  font-size: 2rem;
  font-weight: 300;
}

.web-status-wrapper .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-status-wrapper .icon,
.web-status-wrapper .count {
  color: inherit;
}

.web-status-wrapper .count {
  font-size: 2rem;
}
/*# sourceMappingURL=common.css.map */